
/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.bigred{
	font-size: 20px;
	color: red;
}
/*----------------------------------------------*/
body {
	font-family:Arial, Helvetica, sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow:hidden;
	display: flex;
	flex-direction: column;
}

.container{
	max-width: 1180px;
	margin: 0 auto;
}

.content {
	flex: 1 1 auto;
}

.header {
	background-color: #445162;
	padding: 50px 0px;
}

.header__row {
	display: flex;
	justify-content: space-between;
}

.header__body {
	color: #fff;
	padding: 0px 30px 0px 0px;
}

.header__title {
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	font-size: 60px;
	margin: 0px 0px 38px 0px;
}

.header__list a {
	background: url('../img/icons/icon.png') 0 1px no-repeat;
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	font-size: 20;
	line-height: 22px;
	padding: 0px 0px 0px 36px;
	margin: 0px 0px 15px 0px;
	text-decoration: none;
	display: block;
}

.header__list a:last-child {
	margin: 0px;
}

.footer {
	background-color: #f5f5f5;
}

.footer__row {
	display: flex;
	height: 65px;
	justify-content: center;
	align-items: center;
}

.footer__text{
	color: #445162;
	font-size: 12px;
	letter-spacing: 0.3px;
}
/*--------------------------------------*/
.container 

.what {
	padding: 50px 0px;
}

.what__row {
	display: flex;
	padding: 50px 0px;
}

.what__image {
	flex: 0 0 430px;
}

.what__image img {
	min-width: 100%;
}

.what__body {
	flex: 1 1 auto;
	margin: 0px 0px 0px 38px;
}

.what__title {
	margin: 0px 0px 33px 0px;
}

.title {
	color: #445161;
	font-size: 30px;
	line-height: 36px;
}

.what__text p {
	color: #333333;
	font-size: 16px;
	line-height: 24px;
	margin: px 0px 25px 0px;
}
/*--------------------------------------*/
.columns {
	background-color: #f5f5f5;
	padding: 50px 0 20px 0;
}

.container 

.columns__title {
	text-align: center;
	margin: 0px 0px 30px 0px;
}

.columns__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -8px;
}

.columns__column {
	padding: 0px 8px;
	flex: 0 1 50%;
	margin: 0px 0px 30px 0px;
}

.item__row {
	display: flex;
}

.item__image {
	flex: 0 0 200px;
}

.item__boby {
	flex: 1 1 auto;
	padding: 0px 0px 0px 15px;
}

.item__title {
	color: #445161;
	font-size: 24px;
	line-height: 30px;
	margin: 0px 0px 13px 0px;
}

.item__text {
	color: #333333;
	font-size: 16px;
	line-height: 24px;
}
/*----------------------------------*/
.vertical {
	padding: 50px;
}

.vertical__title {
	text-align: center;
	margin: 0px 0px 30px 0px;
}

.vertical__body {
	min-width: 990px;
	margin: 0px auto;
}

.vertical__row {
	display: flex;
	margin: 0 px -22.5px;
}

.vertical__column {
	flex: 0 1 33.333%;
	padding: 0px 22.5px;
	display: flex;

}

.vertical__item {
	background-color: #445162;
	color: #fff;
	border-radius: 5px;
	border: 1px solid #445162;
	padding: 0px 0px 20px 0px;
	display: flex;
	flex-direction: column;
}

.vertical__subtitle {
	text-align: center;
	font-size: 24px;
	text-transform: uppercase;
	padding: 12px 0;
}

.vertical__label {
	background-color: #fff;
	text-align: center;
	color: #445162;
	padding: 15px 0;
}

.vertical__text {
	padding: 20px;
	font-size: 14px;
	line-height: 24px;
	flex: 1 1 auto;
}
.vertical__text p {
	margin: 0px 0px 15px 0px;
}

.vertical__text p:last-child {
	margin: 0px;
}
.vertical__btn {
	display: block;
	margin: 0px 20px;
	height: 40px;
	background-color: #fff;
	line-height: 40px;
	text-align: center;
	border-radius: 5px;
	font-size: 18px;
}
